*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    i{
        cursor: pointer;
    }
}

main{
    width: 100%;
    padding: 140px 140px;
}